CARTODB_API_KEY=XXXXXXXXXXXXXXXXXXXX

EDGERC_HOST=XXXXXXXXXXXXXXXXXXXX
EDGERC_CLIENT_TOKEN=XXXXXXXXXXXXXXXXXXXX
EDGERC_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXX
EDGERC_ACCESS_TOKEN=XXXXXXXXXXXXXXXXXXXX
EDGERC_MAX_BODY=XXXXXXXXXXXXXXXXXXXX

GITHUB_KEY=XXXXXXXXXXXXXXXXXXXX

MAPBOX_KEY=XXXXXXXXXXXXXXXXXXXX
